extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 EatRib
          small &nbsp; Find places to eat near you in Ribadesella
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col.xs-12.list-group-item
          h4
            a(href="/location") La Guía
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address C/ Jesus Delgado 18, 33560, Ribadesella
          p
            span.label-warning Sea Food
            | &nbsp;
            span.label-warning Sider
            | &nbsp;
            span.label-warning Anchoas
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead Looking for a place to drink and eat in Ribadesella? EatRib helps you find places to have fun and eat premium quality food. Perhaps with sider, beer or coffe? Let EatRib help you find the place you're looking for.
